body,html{
  height:100%;
  margin:0;
  background-color: #c9c9c949;
}
ul, li, ol{
    list-style:none;
}
.index_img{
  position:relative;
  width:35%;
  background-image: url("../img/highlight.jpeg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header1{
  position:absolute;
  display:flex;
  top:20px;
  left:5%;
  align-items: center;
}
.header2{
  width:100%;
  position:absolute;
  top:45px;
  left:45px;
  display:flex;
  align-items: center;
}
.logo{
  width:140px;
}
.logo img{
  width:140px;
}
.menu{
  width:400px;
}
.menu, .siteurl ul{
    padding-left:20px;
}
.menu li{
    display: inline-block;
    margin-right:25px;
}
.menu li a{
    text-decoration: none;
    color: white;
}
.menu li a:hover{
    color: #767676;
    font-weight:bold;
}

.search{
    position: absolute;
    left:35%;
}
.search input{
    font-size:15px;
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom-color:#c9c9c9;
    background-color: #c9c9c900;
}
.search a{
    padding:0;
}
.search a:hover{
    cursor:pointer;
}
.search img{
    width:18px;
}
/* header-siteurl */
.siteurl{
    position:absolute;
    right:80px;
}
.siteurl ul{
    display:flex;
}
.siteurl li{
  margin-right:5px;
}
.siteurl img, .siteurl1 img{
    height:18px;
}
