body,html{
  height:100%;
  margin:0;
  background-color: #c9c9c949;
}
ul, li, ol{
    list-style:none;
}
.index_img{
  position:relative;
  width:35%;
  background-image: url("../img/highlight.jpeg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  float:left;
}
.header1{
  position:absolute;
  display:flex;
  top:20px;
  left:5%;
  align-items: center;
  justify-content: center;
  width:90%;
}
.header2{
  width:100%;
  position:absolute;
  top:45px;
  left:45px;
  display:flex;
  align-items: center;
}
.logo{
  width:140px;
}
.logo img{
  width:140px;
}
.menu{
  width:400px;
}
.menu, .siteurl ul{
    padding-left:20px;
}
.menu li{
    display: inline-block;
    margin:0 12px;
}
.menu li a{
    text-decoration: none;
    color: white;
}
.menu li a:hover{
    color: #767676;
    font-weight:bold;
}

.search{
    position: absolute;
    left:35%;
}
.search input{
    font-size:15px;
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom-color:#c9c9c9;
    background-color: #c9c9c900;
}
.search a{
    padding:0;
}
.search a:hover{
    cursor:pointer;
}
.search img{
    width:18px;
}
/* header-siteurl */
.siteurl{
    position:absolute;
    right:80px;
}
.siteurl ul{
    display:flex;
}
.siteurl li{
  margin-right:5px;
}
.siteurl img, .siteurl1 img{
    height:18px;
}


.content{
    position:absolute;
    left:35%;
    width:65%;
    top:90px;
}
.line1, .line2, .line3{
  padding-right:40px;
  padding-left:40px;
  display:flex;
  align-items: flex-start;
  justify-content: center;
}
.line2, .line3{
  padding-top:5%;
}
.content-title{
    margin:0 10px;
}
.content-title a{
    margin-left:10px;
    margin-right:5px;
    color:#5c5c5c;
    font-weight: bold;
}
.content-title a{
    margin:0;
    padding:0;
    color:#5c5c5c;
}

.block1, .block2, .block3{
  width:33%;
  overflow: hidden;
}
.block2{
  margin:0 4%;
}
iframe, .content-media{
    border:none;
    width:100%;
    height:200px;
}
.content-media, .content-sns{
    background-color: #c9c9c949;
}
.content-media-img{
  display:flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.content-media img{
  width:110%;
}
.content-media ul{
    padding:0;
    margin:0 5px;
}
.content-media a{
    text-decoration: none;
    color:black;
}
.content-media dl{
    color:#5c5c5c;
    margin:0;
    padding: 10px 5px;
}
.content-media dt{
    font-size: 16px;
    font-weight: 800;
}
.content-media dd{
    padding: 5px 0 3px 0;
    font-size: 14px;
    font-weight: 500;
    margin:0;
    display:inline-block;
}
.history{
  overflow:scroll;
  overflow-x:hidden;
}
.line3-content{
  display:flex;
  align-items: flex-start;
  justify-content: center;
}
.content-sns{
    margin:0;
    height:200px;
}
.sns-block{
  margin-right: 2%;
}
.none{
    margin:0;
}
